h1 {
    font-size: 28px;
    color: #3c91e6;
    font-weight: 600;
}

input[type=number] {
    border: 1.5px solid #3c91e6;
    border-radius: 6px;
    padding: 5px;
}

.submit {
    background-color: #3c91e6;
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 4px;
}

.submit:hover {
    background-color: #fff;
    color: #3c91e6;
    border: 1.5px solid #3c91e6;
    cursor: pointer;
}

p {
    font-size: 15px;
    color: #333;
}

div {
    background-color: #e8f0fe;
    padding: 10px;
    border-radius: 4px;
}
